/*20819118*/
body {
	margin-top: 60px;
	padding: 0;
	background: #FFFFFF url(images/img01.gif) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	color: #2483A6;
}

h1 {
	font-size: 2em;
}

h2
{
    font-size: 2.4em;
    color: #000000;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	list-style-type: square; 
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
       list-style-type: square; 
}

a {
	text-decoration: none;
	color: #2483A6;
}

a:hover {
	text-decoration: underline;
}

img.border {
	margin-bottom: 20px;
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 167px;
}

#header {
	width: 960px;
	height: 167px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 980px;
	margin: 0px auto;
	padding: 40px 0px 0px 0px;
	color: #444444;
}

#logo h1, #logo p {
	display: block;
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 54px;
	font-weight: bold;
	color: #444444;
}

#logo h1 a {
	color: #444444;
}

#logo p {
	margin-top: -10px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 20px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #444444;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu-wrapper 
{
	width: 940px;
	height: 58px;
}

#menu {
	width: 940px;
	height: 58px;
	margin: 0px auto;
	padding: 0px 20px 0px 20px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline;
}

#menu a {
	height: 56px;
	margin: 0px;
	padding: 10px 30px 10px 30px;
	line-height: 56px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #262626;
	border: none;
}

#menu .current_page_item a {
	background: #262626;
	color: #FFFFFF;
}

#menu a:hover
{
    background: #FF9393;
    text-decoration: none;
    color: black;
}

/*prewiev
*/

.prew_box{
	width:941px;
              border: 1px solid #000;
              height:318px;
}

.prew_bg1{
	background: url(images/prev_bg_1.jpg) no-repeat top left;
}

.prew_bg2{
	background: url(images/prev_bg_2.jpg) no-repeat top left;
}

.prew_bg3{
	background: url(images/prev_bg_3.jpg) no-repeat top left;
}

.prew_but_left{
	float: left;
	width: 15px;
	padding-left: 30px;
	padding-top: 152px;
}

.prew_but_middle{
	float: left;
	width: 910px;
	text-align: center;
}

.prew_but_middle ul{
	list-style: none;
	width: 110px;
	margin: 0 auto;
	padding-top: 300px;
}

.prew_but_middle ul li{
	float: left;
	padding-left: 5px;
}

.prew_but_middle ul li a{
	display: block;
	background: url(images/prev_but_bg.png) no-repeat top right;
	width: 16px;
	height: 15px;
}

.prew_but_middle ul li a:hover{
	background: url(images/prev_but_select.png) no-repeat;
}

.prew_but_middle ul li .select{
	background: url(images/prev_but_select.png) no-repeat;
}

.prew_but_right{
	float: left;
	width: 45px;
	padding-top: 152px;
}

.prew_bot
{
margin-top: 30px;
}

.prew_bot p{
	font-size: 18px;
	color: #000000;
	text-align: center;
	padding: 5px;
}


/* Page */


#slider-wrapper {
    width: 940px;
    height: 330px;
    margin:0 auto;

}

#slider {
	position:relative;
    width: 940px;
    height: 330px;
	background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left: 430px;
	bottom: 12px;

}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(images/prev_but_bg.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
		background:url(images/prev_but_select.png) no-repeat;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:75px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

/*page*/
#page {
 	background: url(images/img03.gif) repeat-y center top;
}

#page-bgtop {
	background: url(images/img02.gif) no-repeat center top;
}

#page-bgbtm {
	overflow: hidden;
	background: url(images/img04.gif) no-repeat center bottom;
}

#page-content {
	width: 940px;
	margin: 0px auto;
}

/* Content */

#content
{
    float: left;
    width: 940px;
    padding: 0px 0px 0px 0px;
    height: auto;
}
#content2
{
    background-position: 10px;
    border-color: #000000;
    float: left;
    width: 640px;
    padding: 0px 0px 0px 0px;
    height: auto;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: dashed;
    text-align: left;
}

.post {
	clear: both;
	padding-bottom: 10px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -2px;
}

.post .title a {
	color: #262626;
	border: none;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar
{
    float: right;
    width: 250px;
    padding: 0px 0px 0px 0px;
    margin-top: 30px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	color: #181B20;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 0px;
	border-bottom: 1px dashed #B3B0B0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #262626;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 0px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 960px;
	height: 55px;
	margin: 0px auto 40px auto;
	background: url(images/img07.gif) no-repeat center top;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	color: #576475;
}

#footer a {
	color: #576475;
}

/* Banner */

#banner {
	margin-top: 20px;
}

/*Banner Table*/
#btable
{
    vertical-align :middle ; 
    background:url(images/w_o.jpg) no-repeat center;
	background-size: 100% 120%;
}

iframe
{
    float: left;
    width: 640px;
    height: 510px;
    margin-bottom: 10px;
}
#attrib
{
    font-family:Colonna MT;
    font-size: 22px;
    color: #B90000;
    letter-spacing: 5px;
}
#field
{
    color: #666666;
    font-size: 20px;
    letter-spacing :5px
}
#GlassBlackGridView
{
    background-image: url(Images/HeaderGlassBlack.jpg);
    background-position: center;
    background-repeat: repeat-x;
    background-color: #1d1d1d;
    height: 25px;
}

#contacts_table
{
    border:5;
    width: 100%;
    vertical-align: middle;
    border-color: #FF9393;
    border-style: solid;
    border-width: thick;
}


#contacts_table h1
{
    font-family: "Myriad" , "Myriad Pro" ,Georgia,Helvetica,Sans-serif;
    color: #456;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
}
/*-- Overlay -----------------------------------------*/
#overlay{
	top:0px;
	display:none;
	width:100%;
	height:100%;
	margin:0px;
	position:fixed;
	background-color:black;
	opacity:0.7;
}

#overlay:hover{
	cursor:pointer;
}